@keyframes slide-in-horizontal {
    from {
        width: 0;
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes slide-in-vertical {
    from {
        height: 0;
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes zoom-in {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}