$green1: #DFF1DC;
$green2: #BFE2BB;
$green3: #9ED399;
$green4: #7CC479;
$green5: #57B558;
$green6: #23A536;
$green7: #24882F;
$green8: #226B27;
$green9: #1E5020;
$green: $green6;

$transparent: #FFFFFF00;

$white1: #FFFFFF;
$white2: #FAFAFE;
$white3: #EFF1F5;
$white: $white1;
$background: $white2;

$grey1: #CDCDCD;
$grey2: #B5B5B5;
$grey3: #9D9D9D;
$grey4: #868686;
$grey5: #707070;
$grey6: #5D5D5D;
$grey7: #4A4A4A;
$grey8: #383838;
$grey9: #272727;
$grey: $grey5;

$c_grey1: #dce0e6;
$c_grey2: #b4b7bc;
$c_grey3: #8d8f93;
$c_grey4: #68696c;
$c_grey5: #454648;
$c_grey6: #252526;

$border1: $c_grey1;
$border2: $c_grey2;
$border3: $c_grey3;

$black: #000000;

$yellow1: #ffe6b7;
$yellow2: #ffda93;
$yellow3: #ffce6f;
$yellow4: #ffc247;
$yellow5: #f9b705;
$yellow6: #cb9612;
$yellow7: #a07616;
$yellow8: #765716;
$yellow9: #4f3b14;
$yellow: $yellow5;

$blue1: #e7f2fc;
$blue2: #cfe5f9;
$blue3: #b6d8f6;
$blue4: #9bcbf3;
$blue5: #7ebeef;
$blue6: #5bb2ec;
$blue7: #4e92c0;
$blue8: #407397;
$blue9: #33556f;
$blue: $blue6;

$red1 :#ffe7e2;
$red2 :#ffcec7;
$red3 :#ffb6ab;
$red4 :#fc9e91;
$red5 :#f78477;
$red6 :#f06a5e;
$red7 :#c4584e;
$red8 :#9a473f;
$red9: #723730;
$red: $red6;

$color_map: ("green1": $green1,
    "green2": $green2,
    "green3": $green3,
    "green4": $green4,
    "green5": $green5,
    "green6": $green6,
    "green7": $green7,
    "green8": $green8,
    "green9": $green9,
    "green": $green,

    "transparent": $transparent,
    "white1": $white1,
    "white2": $white2,
    "white3": $white3,
    "white": $white,
    "background": $white2,

    "grey1": $grey1,
    "grey2": $grey2,
    "grey3": $grey3,
    "grey4": $grey4,
    "grey5": $grey5,
    "grey6": $grey6,
    "grey7": $grey7,
    "grey8": $grey8,
    "grey9": $grey9,
    "grey": $grey,

    "c_grey1": $c_grey1,
    "c_grey2": $c_grey2,
    "c_grey3": $c_grey3,
    "c_grey4": $c_grey4,
    "c_grey5": $c_grey5,
    "c_grey6": $c_grey6,

    "border1": $border1,
    "border2": $border2,
    "border3": $border3,

    "black": $black,

    "yellow1": $yellow1,
    "yellow2": $yellow2,
    "yellow3": $yellow3,
    "yellow4": $yellow4,
    "yellow5": $yellow5,
    "yellow6": $yellow6,
    "yellow7": $yellow7,
    "yellow8": $yellow8,
    "yellow9": $yellow9,
    "yellow": $yellow,

    "blue1": $blue1,
    "blue2": $blue2,
    "blue3": $blue3,
    "blue4": $blue4,
    "blue5": $blue5,
    "blue6": $blue6,
    "blue7": $blue7,
    "blue8": $blue8,
    "blue9": $blue9,
    "blue": $blue,

    "red1": $red1,
    "red2": $red2,
    "red3": $red3,
    "red4": $red4,
    "red5": $red5,
    "red6": $red6,
    "red7": $red7,
    "red8": $red8,
    "red9": $red9,
    "red": $red,
);
