.hljs-comment,
.hljs-quote {
  color: #ABB0B6;
}

.hljs-variable,
.hljs-template-variable,
.hljs-name,
.hljs-deletion,
.hljs-tag,
.hljs-attribute {
    color: #55B4D4;
}

.hljs-title {
    color: #399ee6;
}


.hljs-regexp {
    color: #4CBF99;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-meta,
.hljs-link {
    color: #FF9940;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-meta-string {
    color: #86B300;
}

.hljs-section,
.hljs-selector-id,
.hljs-selector-class {
    color: #F2AE49;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-meta-keyword {
    color: #FA8D3E;
}

.hljs-params {
    color: #575F66;
}

pre {
    display: block;
    overflow-x: auto;
    background-color: #FAFAFA;
    color: #575F66;

    font-weight: 500;
    font-size: 14px;
}

.hljs-strong {
    font-weight: 600;
}
