$green1: #DFF1DC;
$green2: #BFE2BB;
$green3: #9ED399;
$green4: #7CC479;
$green5: #57B558;
$green6: #23A536;
$green7: #24882F;
$green8: #226B27;
$green9: #1E5020;
$green: $green6;

$transparent: #FFFFFF00;

$white1: #FFFFFF;
$white2: #FAFAFE;
$white3: #EFF1F5;
$white: $white1;
$background: $white2;

$grey1: #CDCDCD;
$grey2: #B5B5B5;
$grey3: #9D9D9D;
$grey4: #868686;
$grey5: #707070;
$grey6: #5D5D5D;
$grey7: #4A4A4A;
$grey8: #383838;
$grey9: #272727;
$grey: $grey5;

$c_grey1: #dce0e6;
$c_grey2: #b4b7bc;
$c_grey3: #8d8f93;
$c_grey4: #68696c;
$c_grey5: #454648;
$c_grey6: #252526;

$border1: $c_grey1;
$border2: $c_grey2;
$border3: $c_grey3;

$black: #000000;

$yellow1: #ffe6b7;
$yellow2: #ffda93;
$yellow3: #ffce6f;
$yellow4: #ffc247;
$yellow5: #f9b705;
$yellow6: #cb9612;
$yellow7: #a07616;
$yellow8: #765716;
$yellow9: #4f3b14;
$yellow: $yellow5;

$blue1: #e7f2fc;
$blue2: #cfe5f9;
$blue3: #b6d8f6;
$blue4: #9bcbf3;
$blue5: #7ebeef;
$blue6: #5bb2ec;
$blue7: #4e92c0;
$blue8: #407397;
$blue9: #33556f;
$blue: $blue6;

$red1 :#ffe7e2;
$red2 :#ffcec7;
$red3 :#ffb6ab;
$red4 :#fc9e91;
$red5 :#f78477;
$red6 :#f06a5e;
$red7 :#c4584e;
$red8 :#9a473f;
$red9: #723730;
$red: $red6;

$height-small: 24px;
$height-normal: 30px;
$height-large: 40px;

$z-index1: 1;
$z-index2: 10;
$z-index3: 100;
$z-index4: 1000;
$z-index5: 10000;
$z-index6: 100000;
$z-index7: 1000000;

$border-tiny: 1px;
$border-small: 2px;
$border-normal: 3px;
$border-large: 4px;
$border-huge: 5px;

$transition-short: 0.05s;
$transition-normal: 0.1s;
$transition-long: 0.2s;

$border-radius-small: 2px;
$border-radius-normal: 5px;
$border-radius-large: 8px;
$border-radius-round: 10000px;

@mixin height-shadow($height, $color) {
    box-shadow: 0px $height 0px 0px $color;
}

@mixin disabled {
    cursor: not-allowed;
}

@mixin border-tiny($color) {
    border: $border-tiny solid $color;
}
@mixin border-small($color) {
    border: $border-small solid $color;
}
@mixin border-normal($color) {
    border: $border-normal solid $color;
}
@mixin border-large($color) {
    border: $border-large solid $color;
}

@mixin v-center {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

@keyframes zoom-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@mixin zoom-in-transform {
    animation: zoom-in $transition-normal linear;
}
