$height-tiny: 20px;
$height-small: 24px;
$height-normal: 30px;
$height-large: 40px;

$font-size-small: 10px;
$font-size-normal: 13px;
$font-size-large: 16px;

$gutter-tiny: 2px;
$gutter-small: 3px;
$gutter-normal: 5px;

$gap-tiny: 10px;
$gap-normal: 20px;

$z-index1: 1;
$z-index2: 10;
$z-index3: 100;
$z-index4: 1000;
$z-index5: 10000;
$z-index6: 100000;
$z-index7: 1000000;

$border-tiny: 1px;
$border-small: 2px;
$border-normal: 3px;
$border-large: 4px;
$border-huge: 5px;

$transition-short: 0.05s;
$transition-normal: 0.1s;
$transition-long: 0.2s;
$transition-animation: 1s;

$border-radius-small: 2px;
$border-radius-normal: 5px;
$border-radius-large: 8px;
$border-radius-round: 10000px;
